@import url('reset.css');


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div {
    flex: 1;
}

#button-container {
    display: flex;
    justify-content: center;
}

#board {
    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    height: 160px;
    width: 160px;
}

.wall {
    background-color: black;

    flex: 1;
}